body {
	color : red;
}
h1 {
	color : blue;
}
p {
	color : green;
}
.align-center {
	text-align : center;
}
.color-yellow {
	color : yellow;
}
.test {
	font-size : 25px;
}
#color-orange {
	color : orange;
}
.common-div {
	border : solid black;
}
.first-div {
	padding : 10px;
}
.second-div {
	
}
.truird-div {
	
}